<polymer-element name="my-navigation">
  <template>
    <%= stylesheet_link_tag 'my-navigation/style'%>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/">Contacts</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">Twitter</a></li>
      <li><a href="/">Facebook</a></li>
    </ul>
  </template>

<%= javascript_include_tag "my-navigation/my-navigation"%>
</polymer-element>
