<h1>Polymer Rails Example</h1>
<p>Both of this navigations were implemented using <code>.navigation</code> class to apply styles.
  But web component's CSS and JavaSctipt are fully encapsulated and do not interact in any way with page's styles and JavaScript.</p>

<label for="">Navigation built in Rails App styled in assets/stylesheets/layout.sass</label>
<ul class="navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/">Contacts</a></li>
  <li><a href="/">Blog</a></li>
  <li><a href="/">Twitter</a></li>
  <li><a href="/">Facebook</a></li>
</ul>
<br />
<label for="">Web Component navigation built with &lt;my-navigation&gt; tag</label>
<my-navigation></my-navigation>


<hello-world></hello-world>
